* {
    margin: 0;
    padding: 0;
}

body {
    // background-color: #392f41;
    background: url(../img/UP-bg.jpg);
    background-size: cover;
    height: auto;
}

.bg {
    .win-scroll {
        margin: 100px auto;
        width: 450px;
        // height: 368.25px;
        background-color: white;
        box-shadow: 1px 2px 3px 3px #cccccc;
        .scroll-cont {
            width: 352px;
            padding: 44px;
            .scroll-title {
                font-weight: 700;
                font-size: 28px;
            }
        }
        .scroll-email:hover {
            border-bottom: 2px solid black;
        }
        .scroll-email {
            margin: 20px 0;
            border-bottom: 1px solid black;
            input {
                caret-color: black;
                outline: none;
                border: 0px;
                color: rgb(242, 242, 242);
                padding: 6px 10px 6px 0;
                width: 100%;
                align-items: center;
            }
        }
        .scroll-text {
            font-size: 14px;
            a {
                text-decoration: none;
                color: rgb(0, 103, 184);
            }
        }
        .scroll-text2 {
            a {
                text-decoration: none;
                font-size: 14px;
                color: rgb(0, 103, 184);
                display: block;
            }
        }
        .scroll-btn {
            margin-left: 260px;
            .netx {
                background-color: #3934b6;
                // border-radius: 10px;
                height: 32px;
                width: 106px;
                display: inline-block;
                a {
                    margin: 0 15px;
                    text-align: center;
                    line-height: 32px;
                    font-size: 16px;
                    padding: 4px 12px;
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}