@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  color: #000;
  font-family: 'å¾®è½¯é›…é»‘', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  font-size: 1.4rem;
}

.page-header {
  margin: 0;
  padding: 0;
  border: 0;
}

.top {
  background-color: #a80000;
  color: white;
  line-height: 40px;
  text-align: center;
  width: 90%;
}

.top a {
  color: white;
}

.navbar {
  margin: 0 auto;
  background-color: white;
  border: 0px;
}

.navbar .navbar-header a img {
  width: 108px;
  height: 23px;
  padding-right: 15px;
}

.logo-box {
  display: flex;
  width: 276px;
  height: 55px;
  align-items: center;
}

.logo-box .logo-text {
  float: right;
  font-size: 16px;
  color: black;
}

.logo-box .logo-text a {
  color: black;
  padding-left: 16px;
  font-weight: 700;
  text-decoration: none;
}

.nav-li,
.nav-li1 {
  background-color: white;
  padding-right: 20px;
  color: #000;
}

.nav-lis {
  padding: 0 15px;
}

#nav-a {
  padding: 0;
}

.nav-text {
  font-size: 14px;
  color: black;
}

.glyphicon {
  font-size: 12px;
  transform: scale(0.8);
}

.nav-li:hover .nav-down {
  display: block;
}

.nav-li1:hover .nav-down1 {
  display: block;
}

.nav-down {
  border: 1px solid;
  width: 231px;
  display: none;
}

.nav-down .down-li:hover {
  background-color: #d2d2d2;
}

.nav-down .down-li {
  width: 229px;
  height: 51.2px;
  position: relative;
}

.nav-down a {
  color: black;
  padding: 16px 20px;
}

.nav-down1 {
  border: 1px solid;
  width: 231px;
  display: none;
}

.nav-down1 .down-li:hover {
  background-color: #d2d2d2;
}

.nav-down1 .down-li {
  width: 229px;
  height: 51.2px;
  position: relative;
  background: white;
}

.nav-down1 a {
  color: black;
  padding: 16px 20px;
}

.nav2 li {
  line-height: 55px;
}

.nav2-li-1 {
  margin-right: 35px;
}

.nav2-li-li {
  margin-right: 27px;
  margin-left: 30px;
}

.nav2-li {
  margin-right: 35px;
}

.nav2-text {
  color: black;
  font-size: 16px;
}

.nav-baba {
  position: relative;
}

.input-group {
  position: absolute;
  z-index: 7;
  left: 130px;
  top: 10px;
  width: 1212.28px;
  height: 50px;
  display: none;
}

.nnav2-li-1:hover.nav-li-a {
  display: none;
}

.nav2-li-1:hover .input-group {
  display: block;
}

.input-text {
  position: absolute;
  height: 50px;
  background: white;
  color: black;
  font-size: 24px;
  border: 0;
  z-index: 8;
  top: -6px;
  right: -27px;
}

.input-search {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  color: #cecece;
  z-index: 9;
}

.cart-quantity {
  margin-top: 55.6px;
  margin: 55.6px 90px 0px 75px;
}

.title-cart {
  font-size: 16px;
  margin: 68px 0 16px 0;
  font-size: 24px;
  line-height: normal;
}

.title-cart .number {
  color: navy;
}

.cart-container {
  position: relative;
}

.cart-summary {
  position: absolute;
  top: 0;
  right: 91px;
  background-color: whitesmoke;
  padding-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
  width: 21.25%;
}

.table-wrapper {
  margin-bottom: 0;
  overflow: inherit;
}

.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  color: #000;
  font-size: 18px;
}

.table-text {
  font-size: 18px;
  padding-bottom: 15px;
}

#table-text2 {
  font-size: 16px;
  padding-left: 140px;
}

#table-text-3 {
  font-size: 16px;
  padding-left: 140px;
}

.ok-btn {
  background-color: #006bb4;
  height: 38px;
  margin-top: 20px;
}

.ok-btn a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  line-height: 38px;
  font-weight: 600;
  padding: 0 119px;
}

.table-text3 {
  margin-top: 10px;
}

.promise-span1 {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  margin: 10px 0 0 0;
}

.promise-span2 {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  padding-left: 15px;
  margin: 10px 0 0 0;
}

.table-wb {
  font-size: 14px;
  color: #666666;
  margin-top: 25px;
}

.service {
  position: absolute;
  bottom: -40px;
}

.package-product {
  height: 56px;
  background: #f2f2f2;
  border-top: 1px solid #d2d2d2;
  margin-left: 75px;
  width: 65%;
}

.package-name {
  padding-left: 18px;
  font-weight: 600;
  line-height: 55px;
  display: block;
}

.package-name span {
  float: right;
  padding-right: 50px;
  font-weight: 400;
}

.package-content {
  margin-left: 75px;
  width: 65%;
  margin-top: 20px;
  position: relative;
}

.info-list {
  overflow: hidden;
  padding-bottom: 20px;
  padding: 16px 36px 16px 0;
  padding: 16px 36px 16px 0;
  border-bottom: 1px solid #d2d2d2;
}

.info-img {
  display: inline-block;
}

.info-img button {
  display: block;
  font-size: 14px;
  color: #0067b8;
  border: 0;
  background-color: white;
  margin-top: 10px;
}

.info-text {
  position: absolute;
  top: 16px;
  left: 120px;
}

.info-text a {
  font-weight: 600;
  font-size: 16px;
  color: black;
}

#amount {
  position: absolute;
  top: 16px;
  left: 50%;
}

.info-price {
  position: absolute;
  top: 16px;
  right: 50px;
}

.cart-tip {
  font-size: 12px;
  color: #737373;
  margin-top: 35px;
}

.-jian {
  position: absolute;
  top: 0px;
  left: 465px;
  font-size: 32px;
}

.-jian button {
  background-color: white;
  border: 0;
  outline: none;
}

.jia {
  position: absolute;
  top: 10px;
  left: 520px;
  font-size: 20px;
}

.jia button {
  background-color: white;
  border: 0;
  outline: none;
}
